<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ user.username }}
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
{% endif %}

<h1>hello, на моей страничке</h1>
    {{ queryset }}
    <br><hr>
    {% for i in queryset %}
        <p><a href="{% url 'book_datail' book_id=i.id%}">{{i.title}}</a><br>
            <p>{{i.text}}
        <p><i>{{i.author.username}}</i>
            <p>{{i.data_publish| date:'Y-m-d'}}
            <p>
        <a href="{% url 'book_like' book_id=i.id %}"><i> likes {{ i.count_likes }}</i></a>

        <hr><br><br>
    {% endfor %}

</body>
</html>