{% extends 'hotels/base.html' %}
{% block title %} Главная {% endblock %}
{% block content %}
<div class="row">
    {% for hotel in hotels %}
    <div class="col-sm-4" align="center">
        <h3 align=>{{ hotel.name }}</h3>
        {% if hotel.picture.url %}

        <a href="{% url 'rating' hotel_id=hotel.id name_hotel=hotel.name %}"><img src="{{ hotel.picture.url }}" class="rounded"></a>
        {% endif %}

        <h4>{{ hotel.city }}</h4>
            {% for i in st %}
                {% if hotel.star >= i %}
                    <span class="fa fa-star checked"></span>
                {% else %}
                    <span class="fa fa-star"></span>
                {% endif %}
            {% endfor %}
     <p> </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
